<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="chat.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- <link href="pnotify.custom.min.css" media="all" rel="stylesheet" type="text/css" /> -->

    <title>RunChat</title>
  </head>
  <body>


  <!-- FIXME: Use Bootstrap Modal Plugin for nick enter form -->
  <!-- <\!-- Modal -\-> -->
  <!-- <div class="modal fade" id="myModal" role="dialog"> -->
  <!--   <div class="modal-dialog"> -->
  <!--     <\!-- Modal content-\-> -->
  <!--     <div class="modal-content"> -->
  <!-- 	<div class="modal-header"> -->
  <!-- 	  <button type="button" class="close" data-dismiss="modal">&times;</button> -->
  <!-- 	  <h4 class="modal-title">Enter a username</h4> -->
  <!-- 	</div> -->
  <!-- 	<div class="modal-body"> -->
  <!-- 	  <p>Enter a username:</p> -->
  <!-- 	  <form id="setNick"> -->
  <!-- 	    <input size="35" id="nickname"></input> -->
  <!-- 	    <input type="submit" value="Enter"></input> -->
  <!-- 	  </form> -->
  <!-- 	</div> -->
  <!-- 	<div class="modal-footer"> -->
  <!-- 	  <\!-- <button type="button" class="btn btn-default" data-dismiss="modal">Enter</button> -\-> -->
  <!-- 	</div> -->
  <!--     </div> -->
  <!--   </div> -->
  <!-- </div> -->
  <!-- <div  class="modal fade"> -->

  <div class="container">

    <div class="page-header">
      <h3>Run Chat for lab runners</h3>
    </div>

    <div id="nickWrap">
      <p>Enter a username:</p>
      <div class="alert alert-danger" id="nickError">
      </div>
      <!-- <p id="nickError"></p> -->
      <form id="setNick">
	<input size="35" id="nickname"></input>
	<button type="submit" class="btn btn-default">
	  <span class="glyphicon glyphicon-user"></span> Enter
	</button>
	<!-- <input type="submit" class="btn btn-default btn-md" value="Enter"> -->
	<!-- <input type="submit" value="Enter"></input> -->
      </form>
    </div>


    <div id="contentWrap">
      <div id="chatWrap">
	<div id="chat"></div>
	<div id="sendmsg">
	  <form id="send-message">
	    <input size="79" id="message"></input>
	    <button type="submit" class="btn btn-default btn-md">
	      <span class="glyphicon glyphicon-send"></span> Send
	    </button>
	    <!-- <input type="submit" value="Send"></input> -->
	  </form>
	</div>
      </div>
      <div id="users"></div>
    </div>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <!-- <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script> -->
  <!-- <script type="text/javascript" src="pnotify.custom.min.js"></script> -->
  <script src="/socket.io/socket.io.js"></script>
  <!-- <script type="text/javascript">  PNotify.prototype.options.styling = "bootstrap3"; </script> -->

  <script type="text/javascript" src="chat.js"></script>
  <script type="text/javascript" src="title_notifier.js"></script>

</body>
</html>
